/* src/components/Toggle.css */
.toggle-switch {
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-bottom: 20px;
  }
  
  .toggle-switch input {
    display: none;
  }
  
  .slider {
    position: relative;
    cursor: pointer;
    background-color: #0c5027;
    border-radius: 34px;
    transition: background-color 0.2s;
  }
  
  .slider::before {
    content: "";
    position: absolute;
    height: 26px;
    width: 26px;
    background-color: white;
    border-radius: 50%;
    bottom: 4px;
    left: 4px;
    transition: transform 0.2s;
  }
  
  input:checked + .slider {
    background-color: #4CAF50;
  }
  
  input:checked + .slider::before {
    transform: translateX(26px);
  }