/* src/components/Toggle.css */
.toggle-switch {
    display: flex;
    align-items: center;
  }
  
  .toggle-label {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-right: 10px;
  }
  
  .toggle-label input {
    display: none;
  }
  
  .toggle-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: background-color 0.3s;
  }
  
  .toggle-switch {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 26px;
    height: 26px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
  }
  
  input:checked + .toggle-label .toggle-inner {
    background-color: #4caf50;
  }
  
  input:checked + .toggle-label .toggle-switch {
    transform: translateX(26px);
  }